<h5
    class="mb-5 text-lg font-bold tracking-tight text-gray-900 dark:text-gray-900">
    Detalles de Paradas
</h5>
<form
    [formGroup]="paradasForm"
    class="w-full"
    (ngSubmit)="onSubmit()"
    novalidate>
    <div class="mb-5">
        <label
            for="idViaje"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >IdViaje</label
        >
        <input
            type="text"
            id="idViaje"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="idViaje"
            formControlName="idViaje" />
        @if (paradasForm.get('idViaje')?.hasError('required') &&
        paradasForm.get('idViaje')?.touched) {
        <div class="form-error text-red-950">IdViaje es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="direccion"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >Direccion</label
        >
        <input
            type="text"
            id="direccion"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="direccion"
            formControlName="direccion" />
        @if (paradasForm.get('direccion')?.hasError('required') &&
        paradasForm.get('direccion')?.touched) {
        <div class="form-error text-red-950">Direccion es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="nombreCiudad"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >NombreCiudad</label
        >
        <input
            type="text"
            id="nombreCiudad"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="nombreCiudad"
            formControlName="nombreCiudad" />
        @if (paradasForm.get('nombreCiudad')?.hasError('required') &&
        paradasForm.get('nombreCiudad')?.touched) {
        <div class="form-error text-red-950">NombreCiudad es requerido</div>
        }
    </div>

    <div class="mb-5">
        <label
            for="fecha"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >Fecha</label
        >
        <input
            type="date"
            id="fecha"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder=""
            formControlName="fecha" />
        @if (paradasForm.get('fecha')?.hasError('required') &&
        paradasForm.get('fecha')?.touched) {
        <div class="form-error text-red-950">Fecha es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="estado"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >Estado</label
        >
        <input
            type="checkbox"
            id="estado"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="Marcar el cuadro si esta incidencia esta activa"
            formControlName="estado" />
        @if (paradasForm.get('estado')?.hasError('required') &&
        paradasForm.get('estado')?.touched) {
        <div class="form-error text-red-950">Estado es requerido</div>
        }
    </div>

    <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">
        Ejecutar
    </button>
    <button
        type="button"
        (click)="onClose()"
        class="text-white ms-2 bg-gray-700 hover:bg-gray-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">
        Cancelar
    </button>
</form>
