<div class="card">
    <img
        src="https://res.cloudinary.com/dd6ferfis/image/upload/v1728786772/conductor_admpem.png"
        alt="Imagen de la tarjeta"
        class="card__image" />
    <div class="card__content">
        <h2 class="card__title">Conductores</h2>
        <p class="card__text">
            Nuestros conductores son profesionales altamente capacitados, con
            años de experiencia en las rutas más exigentes de Perú. Pasan por
            rigurosos procesos de selección y entrenamiento para asegurar que tu
            viaje sea seguro y tranquilo en todo momento. Además, reciben
            formación continua.
        </p>
    </div>
    <div class="card__footer">
        <a href="#" class="card__link">Más información</a>
    </div>
</div>
