<div class="card">
    <img
        src="img\imperial\team\encomienda.png"
        alt="Imagen de la tarjeta"
        class="card__image" />
    <div class="card__content">
        <h2 class="card__title">Inovación</h2>
        <p class="card__text">
            Lideramos el camino con prácticas innovadoras en el sector. Nuestros
            conductores, altamente calificados, no solo son expertos en sus
            rutas, sino también en el uso de las más recientes tecnologías de
            navegación y seguridad. Constantemente actualizamos nuestros
            conocimientos y habilidades.
        </p>
    </div>
    <div class="card__footer">
        <a href="#" class="card__link">Más información</a>
    </div>
</div>
