<h5
    class="mb-5 text-lg font-bold tracking-tight text-gray-900 dark:text-gray-900">
    Detalles de Ventas
</h5>
<form
    [formGroup]="ventasForm"
    class="w-full"
    (ngSubmit)="onSubmit()"
    novalidate>
    <div class="mb-5">
        <label
            for="codigoVenta"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >CodigoVenta</label
        >
        <input
            type="text"
            id="codigoVenta"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="codigoVenta"
            formControlName="codigoVenta" />
        @if (ventasForm.get('codigoVenta')?.hasError('required') &&
        ventasForm.get('codigoVenta')?.touched) {
        <div class="form-error text-red-950">CodigoVenta es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="idUsuario"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >IdUsuario</label
        >
        <input
            type="text"
            id="idUsuario"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="idUsuario"
            formControlName="idUsuario" />
        @if (ventasForm.get('idUsuario')?.hasError('required') &&
        ventasForm.get('idUsuario')?.touched) {
        <div class="form-error text-red-950">IdUsuario es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="idReserva"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >IdReserva</label
        >
        <input
            type="text"
            id="idReserva"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="idReserva"
            formControlName="idReserva" />
        @if (ventasForm.get('idReserva')?.hasError('required') &&
        ventasForm.get('idReserva')?.touched) {
        <div class="form-error text-red-950">IdReserva es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="nombrePasajero"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >NombrePasajero</label
        >
        <input
            type="text"
            id="nombrePasajero"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="nombrePasajero"
            formControlName="nombrePasajero" />
        @if (ventasForm.get('nombrePasajero')?.hasError('required') &&
        ventasForm.get('nombrePasajero')?.touched) {
        <div class="form-error text-red-950">NombrePasajero es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="numeroPasajes"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >NumeroPasajes</label
        >
        <input
            type="text"
            id="numeroPasajes"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="numeroPasajes"
            formControlName="numeroPasajes" />
        @if (ventasForm.get('numeroPasajes')?.hasError('required') &&
        ventasForm.get('numeroPasajes')?.touched) {
        <div class="form-error text-red-950">NumeroPasajes es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="origen"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >Origen</label
        >
        <input
            type="text"
            id="origen"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="origen"
            formControlName="origen" />
        @if (ventasForm.get('origen')?.hasError('required') &&
        ventasForm.get('origen')?.touched) {
        <div class="form-error text-red-950">Origen es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="destino"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >Destino</label
        >
        <input
            type="text"
            id="destino"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="destino"
            formControlName="destino" />
        @if (ventasForm.get('destino')?.hasError('required') &&
        ventasForm.get('destino')?.touched) {
        <div class="form-error text-red-950">Destino es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="fechaVenta"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >FechaVenta</label
        >
        <input
            type="date"
            id="fechaVenta"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder=""
            formControlName="fechaVenta" />
        @if (ventasForm.get('fechaVenta')?.hasError('required') &&
        ventasForm.get('fechaVenta')?.touched) {
        <div class="form-error text-red-950">FechaVenta es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="fechaViaje"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >FechaViaje</label
        >
        <input
            type="date"
            id="fechaViaje"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder=""
            formControlName="fechaViaje" />
        @if (ventasForm.get('fechaViaje')?.hasError('required') &&
        ventasForm.get('fechaViaje')?.touched) {
        <div class="form-error text-red-950">FechaViaje es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="montoTotal"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >MontoTotal</label
        >
        <input
            type="text"
            id="montoTotal"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="montoTotal"
            formControlName="montoTotal" />
        @if (ventasForm.get('montoTotal')?.hasError('required') &&
        ventasForm.get('montoTotal')?.touched) {
        <div class="form-error text-red-950">MontoTotal es requerido</div>
        }
    </div>

    <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">
        Ejecutar
    </button>
    <button
        type="button"
        (click)="onClose()"
        class="text-white ms-2 bg-gray-700 hover:bg-gray-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">
        Cancelar
    </button>
</form>
