<app-rutas-list [rutas]="rutasPaginados"></app-rutas-list>
<!-- <div class="flex justify-between items-center mb-6">
    <h4 class="font-bold text-2xl"></h4>
    <button
        type="button"
        (click)="openModel()"
        class="text-white bg-blue-700 hover:bg-blue-900 focus:outline-none font-medium rounded-full px-6 py-3 text-center mb-2">
        Agregar Rutas
    </button>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
        class="w-full text-sm text-left rtl:text-right text-gray-700 dark:text-gray-700">
        <caption
            class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-gray-900 dark:bg-white">
            Detalles de Rutas
        </caption>
        <thead
            class="text-xs text-gray-800 uppercase bg-gray-50 dark:bg-white dark:text-gray-500">
            <tr>
                <th scope="col" class="px-6 py-3">idRutas</th>
                <th scope="col" class="px-6 py-3">ciudadOrigen</th>
                <th scope="col" class="px-6 py-3">ciudadId</th>
                <th scope="col" class="px-6 py-3">ciudadSeoId</th>
                <th scope="col" class="px-6 py-3">ciudadDestino</th>
                <th scope="col" class="px-6 py-3">destinoId</th>
                <th scope="col" class="px-6 py-3">destinoSeoId</th>
                <th scope="col" class="px-6 py-3">estados</th>
                <th scope="col" class="px-6 py-3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (item of rutas; track $index) {
            <tr class="bg-white border-b dark:bg-white dark:border-gray-700">
                <td class="px-6 py-4">
                    {{ item.idRutas }}
                </td>
                <th
                    scope="row"
                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-gray-900">
                    {{ item.ciudadOrigen }}
                </th>
                <td class="px-6 py-4">
                    {{ item.ciudadId }}
                </td>
                <td class="px-6 py-4">
                    {{ item.ciudadSeoId }}
                </td>
                <td class="px-6 py-4">
                    {{ item.ciudadDestino }}
                </td>
                <td class="px-6 py-4">
                    {{ item.destinoId }}
                </td>
                <td class="px-6 py-4">
                    {{ item.destinoSeoId }}
                </td>
                <td class="px-6 py-4">
                    {{ item.estado }}
                </td>
                <td class="px-6 py-4 text-right">
                    <button
                        type="button"
                        (click)="item.idRutas && loadRutas(item)"
                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-4">
                        Editar
                    </button>
                    <button
                        type="button"
                        (click)="item.idRutas && deleteRutas(item.idRutas)"
                        class="font-medium text-red-600 dark:text-red-500 hover:underline">
                        Eliminar
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div> -->

<app-paginador
    [items]="rutas"
    [pageSize]="8"
    (pageChange)="onPageChange($event)"></app-paginador>

<app-model [isOpen]="isModelOpen" (closeModel)="closeModel()">
    <app-rutas-form
        (onCloseModel)="closeModel()"
        [data]="ruta"></app-rutas-form>
</app-model>
