<aside
    class="bg-gradient-to-br from-red-950 to-red-700 -translate-x-80 fixed inset-0 z-50 my-4 ml-4 h-[calc(100vh-32px)] w-72 rounded-xl transition-transform duration-300 xl:translate-x-0">
    <div class="relative border-b border-white/20">
        <div class="flex items-center gap-4 py-6 px-8" href="">
            <!-- <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-white">Material Tailwind Dashboard</h6> -->
            <img class="w-40"
                src="https://res.cloudinary.com/dyelvotz0/image/upload/v1727587318/LogoImperial_nvve7x.png"
                alt="LogoImperial_nvve7x" />
        </div>
        <button
            class="middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-white hover:bg-white/10 active:bg-white/30 absolute right-0 top-0 grid rounded-br-none rounded-tl-none xl:hidden"
            type="button">
            <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5"
                    stroke="currentColor" aria-hidden="true" class="h-5 w-5 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </span>
        </button>
    </div>
    <div class="m-4">
        <ul class="mb-4 flex flex-col gap-1">
            <li>
                <a routerLink="/admin/dashboard">
                    <button
                        routerLinkActive="bg-gradient-to-tr from-yellow-600 to-yellow-400 shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85]"
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none bg-gradient-to-tr from-yellow-950 to-yellow-400 text-xs py-3 rounded-lg text-white shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85] w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            aria-hidden="true" class="w-5 h-5 text-inherit">
                            <path
                                d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z">
                            </path>
                            <path
                                d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z">
                            </path>
                        </svg>
                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Inicio
                        </p>
                    </button>
                </a>
            </li>
            <li>
                <a routerLink="/admin/facturacion">
                    <button
                        routerLinkActive="bg-gradient-to-tr from-yellow-600 to-yellow-400 shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85]"
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none bg-gradient-to-tr from-yellow-950 to-yellow-400 text-xs py-3 rounded-lg text-white shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85] w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
                        </svg>

                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Facturación
                        </p>
                    </button>
                </a>
            </li>

            <li>
                <a routerLink="/admin/buses">
                    <button
                        routerLinkActive="bg-gradient-to-tr from-yellow-600 to-yellow-400 shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85]"
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none bg-gradient-to-tr from-yellow-950 to-yellow-400 text-xs py-3 rounded-lg text-white shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85] w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg class="w-5 h-5 text-white dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M4 4a2 2 0 0 0-2 2v9a1 1 0 0 0 1 1h.535a3.5 3.5 0 1 0 6.93 0h3.07a3.5 3.5 0 1 0 6.93 0H21a1 1 0 0 0 1-1v-4a.999.999 0 0 0-.106-.447l-2-4A1 1 0 0 0 19 6h-5a2 2 0 0 0-2-2H4Zm14.192 11.59.016.02a1.5 1.5 0 1 1-.016-.021Zm-10 0 .016.02a1.5 1.5 0 1 1-.016-.021Zm5.806-5.572v-2.02h4.396l1 2.02h-5.396Z"
                                clip-rule="evenodd" />
                        </svg>

                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Buses
                        </p>
                    </button>
                </a>
            </li>
            <li>
                <a routerLink="/admin/viajes">
                    <button
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M12 2a1 1 0 0 1 .932.638l7 18a1 1 0 0 1-1.326 1.281L13 19.517V13a1 1 0 1 0-2 0v6.517l-5.606 2.402a1 1 0 0 1-1.326-1.281l7-18A1 1 0 0 1 12 2Z"
                                clip-rule="evenodd" />
                        </svg>

                        <p routerLink="/dashlogin"
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Viajes
                        </p>
                    </button>
                </a>
            </li>
            <li>
                <a routerLink="/admin/conductores">
                    <button
                        routerLinkActive="bg-gradient-to-tr from-yellow-600 to-yellow-400 shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85]"
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none bg-gradient-to-tr from-yellow-950 to-yellow-400 text-xs py-3 rounded-lg text-white shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85] w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg class="w-5 h-5 text-white dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                                clip-rule="evenodd" />
                        </svg>

                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Conductores
                        </p>
                    </button>
                </a>
            </li>
            <li>
                <a routerLink="/admin/reservas">
                    <button
                        routerLinkActive="bg-gradient-to-tr from-yellow-600 to-yellow-400 shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85]"
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none bg-gradient-to-tr from-yellow-950 to-yellow-400 text-xs py-3 rounded-lg text-white shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85] w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg class="w-5 h-5 text-white dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 15v3c0 .5523.44772 1 1 1h10.5M3 15v-4m0 4h11M3 11V6c0-.55228.44772-1 1-1h16c.5523 0 1 .44772 1 1v5M3 11h18m0 0v1M8 11v8m4-8v8m4-8v2m1.8956 5.9528 1.5047-1.5047m0 0 1.5048-1.5048m-1.5048 1.5048 1.4605 1.4604m-1.4605-1.4604-1.4604-1.4605" />
                        </svg>

                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Reservas
                        </p>
                    </button>
                </a>
            </li>
            <li>
                <a routerLink="/admin/rutas">
                    <button
                        routerLinkActive="bg-gradient-to-tr from-yellow-600 to-yellow-400 shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85]"
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none bg-gradient-to-tr from-yellow-950 to-yellow-400 text-xs py-3 rounded-lg text-white shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85] w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg class="w-5 h-5 text-white dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z"
                                clip-rule="evenodd" />
                        </svg>
                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Rutas
                        </p>
                    </button>
                </a>
            </li>
            <li>
                <a routerLink="/admin/ventas">
                    <button
                        routerLinkActive="bg-gradient-to-tr from-yellow-600 to-yellow-400 shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85]"
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none bg-gradient-to-tr from-yellow-950 to-yellow-400 text-xs py-3 rounded-lg text-white shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85] w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M7 6a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2h-2v-4a3 3 0 0 0-3-3H7V6Z"
                                clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                                d="M2 11a2 2 0 0 1 2-2h11a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-7Zm7.5 1a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5Z"
                                clip-rule="evenodd" />
                            <path d="M10.5 14.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z" />
                        </svg>

                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Ventas
                        </p>
                    </button>
                </a>
            </li>
            <li>
                <a routerLink="/admin/ventas-interna">
                    <button
                        routerLinkActive="bg-gradient-to-tr from-yellow-600 to-yellow-400 shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85]"
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none bg-gradient-to-tr from-yellow-950 to-yellow-400 text-xs py-3 rounded-lg text-white shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85] w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                                d="M8 7V6a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1M3 18v-7a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm8-3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
                        </svg>

                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Venta Interna
                        </p>
                    </button>
                </a>
            </li>
            <li>
                <a routerLink="/admin/incidencias">
                    <button
                        routerLinkActive="bg-gradient-to-tr from-yellow-600 to-yellow-400 shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85]"
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none bg-gradient-to-tr from-yellow-950 to-yellow-400 text-xs py-3 rounded-lg text-white shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85] w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg class="w-5 h-5 text-white dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                                d="M8.597 3.2A1 1 0 0 0 7.04 4.289a3.49 3.49 0 0 1 .057 1.795 3.448 3.448 0 0 1-.84 1.575.999.999 0 0 0-.077.094c-.596.817-3.96 5.6-.941 10.762l.03.049a7.73 7.73 0 0 0 2.917 2.602 7.617 7.617 0 0 0 3.772.829 8.06 8.06 0 0 0 3.986-.975 8.185 8.185 0 0 0 3.04-2.864c1.301-2.2 1.184-4.556.588-6.441-.583-1.848-1.68-3.414-2.607-4.102a1 1 0 0 0-1.594.757c-.067 1.431-.363 2.551-.794 3.431-.222-2.407-1.127-4.196-2.224-5.524-1.147-1.39-2.564-2.3-3.323-2.788a8.487 8.487 0 0 1-.432-.287Z" />
                        </svg>

                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Incidencias
                        </p>
                    </button>
                </a>
            </li>
            <li>
                <a routerLink="/admin/reportes">
                    <button
                        routerLinkActive="bg-gradient-to-tr from-yellow-600 to-yellow-400 shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85]"
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none bg-gradient-to-tr from-yellow-950 to-yellow-400 text-xs py-3 rounded-lg text-white shadow-md shadow-yellow-500/20 hover:shadow-lg hover:shadow-yellow-500/40 active:opacity-[0.85] w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M15.03 9.684h3.965c.322 0 .64.08.925.232.286.153.532.374.717.645a2.109 2.109 0 0 1 .242 1.883l-2.36 7.201c-.288.814-.48 1.355-1.884 1.355-2.072 0-4.276-.677-6.157-1.256-.472-.145-.924-.284-1.348-.404h-.115V9.478a25.485 25.485 0 0 0 4.238-5.514 1.8 1.8 0 0 1 .901-.83 1.74 1.74 0 0 1 1.21-.048c.396.13.736.397.96.757.225.36.32.788.269 1.211l-1.562 4.63ZM4.177 10H7v8a2 2 0 1 1-4 0v-6.823C3 10.527 3.527 10 4.176 10Z"
                                clip-rule="evenodd" />
                        </svg>

                        <p
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Opiniones
                        </p>
                    </button>
                </a>
            </li>

            <li>
                <a routerLink="/admin/paradas">
                    <button
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 6h8m-8 6h8m-8 6h8M4 16a2 2 0 1 1 3.321 1.5L4 20h5M4 5l2-1v6m-2 0h4" />
                        </svg>

                        <p routerLink="/dashlogin"
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Paradas
                        </p>
                    </button>
                </a>
            </li>
        </ul>
        <ul class="mb-4 flex flex-col gap-1">
            <li class="mx-3.5 mt-4 mb-2">
                <p
                    class="block antialiased font-sans text-sm leading-normal text-white font-black uppercase opacity-75">
                    Pagina de Autenticación
                </p>
            </li>
            <li>
                <a routerLink="/dashregister">
                    <button
                        class="middle none font-sans font-bold center transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 rounded-lg text-white hover:bg-white/10 active:bg-white/30 w-full flex items-center gap-4 px-4 capitalize"
                        type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            aria-hidden="true" class="w-5 h-5 text-inherit">
                            <path
                                d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z">
                            </path>
                        </svg>
                        <p routerLink="/dashregister"
                            class="block antialiased font-sans text-base leading-relaxed text-inherit font-medium capitalize">
                            Nuevo Registro
                        </p>
                    </button>
                </a>
            </li>
        </ul>
    </div>
</aside>