<div class="card">
    <img
        src="img\imperial\team\corporativo.png"
        alt="Imagen de la tarjeta"
        class="card__image" />
    <div class="card__content">
        <h2 class="card__title">Corporativo</h2>
        <p class="card__text">
            En la Empresa Turismo Imperial, contamos con un equipo de
            conductores altamente capacitados y profesionales, seleccionados
            mediante rigurosos procesos de evaluación para garantizar la máxima
            seguridad y eficiencia en cada trayecto. Ofrecemos un servicio
            respaldado por un equipo comprometido.
        </p>
    </div>
    <div class="card__footer">
        <a href="#" class="card__link">Más información</a>
    </div>
</div>
