<div class="flex justify-between items-center mb-6">
    <h4 class="font-bold text-2xl"></h4>
    <button
        type="button"
        (click)="openModel()"
        class="text-white bg-blue-700 hover:bg-blue-900 focus:outline-none font-medium rounded-full px-6 py-3 text-center mb-2">
        Agregar Clientes
    </button>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
        class="w-full text-sm text-left rtl:text-right text-gray-700 dark:text-gray-700">
        <caption
            class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-gray-900 dark:bg-white">
            Detalles de Clientes
        </caption>
        <thead
            class="text-xs text-gray-800 uppercase bg-gray-50 dark:bg-white dark:text-gray-500">
            <tr>
                <th scope="col" class="px-6 py-3">nombres</th>
                <th scope="col" class="px-6 py-3">apellidos</th>
                <th scope="col" class="px-6 py-3">tipoDocumento</th>
                <th scope="col" class="px-6 py-3">numeroDocumento</th>
                <th scope="col" class="px-6 py-3">razonSocial</th>
                <th scope="col" class="px-6 py-3">email</th>
                <th scope="col" class="px-6 py-3">telefono</th>
                <th scope="col" class="px-6 py-3">edad</th>
                <th scope="col" class="px-6 py-3">direccion</th>
                <th scope="col" class="px-6 py-3">estado</th>
                <th scope="col" class="px-6 py-3">fechaCreacion</th>
                <th scope="col" class="px-6 py-3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (item of clientes; track $index) {
            <tr class="bg-white border-b dark:bg-white dark:border-gray-700">
                <th
                    scope="row"
                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-gray-900">
                    {{ item.nombres }}
                </th>
                <td class="px-6 py-4">
                    {{ item.apellidos }}
                </td>
                <td class="px-6 py-4">
                    {{ item.tipoDocumento }}
                </td>
                <td class="px-6 py-4">
                    {{ item.numeroDocumento }}
                </td>
                <td class="px-6 py-4">
                    {{ item.razonSocial }}
                </td>
                <td class="px-6 py-4">
                    {{ item.email }}
                </td>
                <td class="px-6 py-4">
                    {{ item.telefono }}
                </td>
                <td class="px-6 py-4">
                    {{ item.edad }}
                </td>
                <td class="px-6 py-4">
                    {{ item.direccion }}
                </td>
                <td class="px-6 py-4">
                    {{ item.estado }}
                </td>
                <td class="px-6 py-4">
                    {{ item.fechaCreacion }}
                </td>
                <td class="px-6 py-4 text-right">
                    <button
                        type="button"
                        (click)="item.idCliente && loadClientes(item)"
                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-4">
                        Editar
                    </button>
                    <button
                        type="button"
                        (click)="
                            item.idCliente && deleteClientes(item.idCliente)
                        "
                        class="font-medium text-red-600 dark:text-red-500 hover:underline">
                        Eliminar
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<app-model [isOpen]="isModelOpen" (closeModel)="closeModel()">
    <app-clientes-form
        (onCloseModel)="closeModel()"
        [data]="cliente"></app-clientes-form>
</app-model>
