<div class="grid grid-cols-6 gap-2 border-solid border-2 border-red-950 rounded-2xl py-2 px-6 max-w-4xl mx-auto p-4 mt-6 space-x-4 items-center">
    <label for="date">Selecciona un Origen:</label>
    <select [(ngModel)]="ciudadOrigen" (change)="actualizarDestino()" class="border-solid border-2 border-red-950 rounded-2xl">
        <option value="">Selecciona una ciudad de origen</option>
        <option value="Tarma">Tarma</option>
        <option value="Lima">Lima</option>
    </select>
    <label for="destino">Destino:</label>
    <input 
        type="text" 
        id="destino" 
        [value]="destino" 
        readonly 
        class="border-solid border-2 border-red-950 rounded-2xl">
    <label for="date">Selecciona una fecha:</label>
    <input 
        type="date" 
        id="date" 
        [(ngModel)]="fechaSeleccionada" 
        (change)="onFechaSeleccionada($event)"  
        class="border-solid border-2 border-red-950 rounded-2xl">
    
</div>

<section *ngFor="let rutas of rutasFiltradas">
    <div
        class="grid grid-cols-7 gap-2 border-solid border-2 border-red-950 rounded-2xl py-2 px-6 max-w-4xl mx-auto p-4 mt-6 space-x-4 items-center">
        <div class="px-4">
            <img
                src="https://res.cloudinary.com/dd6ferfis/image/upload/v1728782995/file-removebg-preview_idqjmi.png"
                alt="Buses" />
        </div>
        <div class="">
            <p>De:{{ rutas.origen }} <br/>{{rutas.terminalSaliente}}</p>
        </div>
        <div class="">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
            </svg>
        </div>
        <div class="">
            <p>
                Hacia 
                {{ rutas.destino }} <br/> {{rutas.terminalEntrante}}
            </p>
        </div>
        <div class="">
            <p>Hora de Salida <br />{{rutas.horaSalida}}</p>
        </div>
        <div class="self-start px-4">
            <p>Precio: <br/>
            Distancia: <br/>{{rutas.distanciaKm}} km</p>
        </div>
        <div class="pe-4" dir="rtl">
            <button
            (click)="tomaObjetoButton(rutas)"
                routerLink="/compra"
                class="bg-yellow-950 rounded-full py-2 px-6 text-white" >
                S/{{rutas.precioPromedio}}
            </button>
        </div>
    </div>
</section>
