<app-header-page />

<main class="principal__body">
    <div class="princiapl__body-slider">
        <app-slide-corruselle 
        [slideDimension]="'2xl'" 
        [images]="imagesSlide" 
        [autoPlayEnabled]="true"
        [autoPlayDelay]="5000" 
        [pagination]="false" 
        [slidesPerView]="1" 
        [loop]="true" 
        [navigation]="true">
        </app-slide-corruselle>
    </div>
    <app-search-bar-travel></app-search-bar-travel>
    <section class="max-w-screen-md mx-auto px-4 sm:px-6 lg:px-8">
        <div class="">
            <h1 class="mb-4 text-blue-950 text-3xl sm:text-4xl md:text-5xl lg:text-6xl">
                A viajar seguro!
            </h1>
            <p class="mb-4 text-blue-950 text-base sm:text-lg md:text-xl lg:text-2xl">
                Preocupados por nuestros pasajeros y colaboradores en brindarles
                la confianza y garantizarles que estamos cumpliendo con los más
                altos estándares de calidad en seguridad vial y sanitaria.
            </p>
        </div>
    </section>

  
    <section>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
            <app-card 
                imageSrc="https://res.cloudinary.com/dd6ferfis/image/upload/v1728786760/bus_a70dpp.png"
                imageAlt="Flota de buses" 
                title="Flota"
                description="Contamos con la flota de buses más moderna de Perú, diseñada para garantizar un viaje cómodoy seguro."
                linkText="Más información" 
                linkUrl="#"
                
                >
            </app-card>

            <app-card imageSrc="https://res.cloudinary.com/dd6ferfis/image/upload/v1728786781/corporativo_fdzgig.png"
                imageAlt="Servicios" title="Servicios"
                description="Ofrecemos servicios personalizados para satisfacer las necesidades de nuestros clientes."
                linkText="Más información" 
                linkUrl="#"
                
                >
            </app-card>

            <app-card 
                imageSrc="https://res.cloudinary.com/dd6ferfis/image/upload/v1728786791/encomienda_bxcjme.png"
                imageAlt="Servicios" 
                title="Servicios" 
                description="Lideramos el camino con prácticas innovadoras en el sector. Nuestros conductores." linkText="Más información" linkUrl="#"
                linkClass = 'text-red-600 hover:underline text-sm sm:text-base md:text-lg'
              >
            </app-card>


        </div>
    </section>
    <section class="principal__body-section">
        <div class="principal__body-title">
            <h2 class="mb-4 text-blue-950">¿Por qué escogernos?</h2>
            <p class="mb-4 text-blue-950">
                Turismo Imperial es una de las principales empresas de
                transporte que ofrecen un buen servicio de bus; cumpliendo con
                todas las normas de seguridad. Su puntualidad y otras
                comodidades durante el viaje han vuelto a Turismo Imperial
                popular entre los pasajeros. Turismo Imperial también cubre
                distintas rutas conectando diferentes ciudades en el país.
            </p>
        </div>
    </section>
    <section class="principal__body-section">
        <app-icon-met-pago></app-icon-met-pago>
    </section>
</main>
<!-- <app-robot></app-robot> -->
<app-footer-page />