<div>
    <ng-container *ngIf="pasoActual === 0">
      <app-seat-selection (continue)="avanzar()"></app-seat-selection>
    </ng-container>
  
    <ng-container *ngIf="pasoActual === 1">
      <app-datos-pasajero (continue)="avanzar()" (back)="retroceder()"></app-datos-pasajero>
    </ng-container>
  
    <ng-container *ngIf="pasoActual === 2">
      <app-pago (continue)="avanzar()" (back)="retroceder()"></app-pago>
    </ng-container>
    
    <ng-container *ngIf="pasoActual === 3">
      <app-checkout (continue)="avanzar()" (back)="retroceder()"></app-checkout>
    </ng-container>
   
    <!-- <ng-container *ngIf="pasoActual === 3">
      <app-checkout ></app-checkout>
      
    </ng-container> -->
  
    <div *ngIf="pasoActual > 0">
      <button class="flex px-6 py-2 ml-auto text-white bg-orange-500 border-0 rounded focus:outline-none hover:bg-red-600"(click)="retroceder()">Volver</button>
    </div>
  </div>
  