<div class="container mx-auto p-4 bg-red-950 rounded-lg">
    <!-- Formulario de búsqueda -->
    <form [formGroup]="busquedaForm" (ngSubmit)="buscarViajes()">
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-4">
            <div>
                <label for="origen" class="text-white block">Origen</label>
                <input
                    type="text"
                    id="origen"
                    formControlName="origen"
                    class="p-2 border rounded mb-2 block input" />
            </div>
            <div>
                <label for="destino" class="text-white block">Destino</label>
                <input
                    type="text"
                    id="destino"
                    formControlName="destino"
                    class="p-2 border rounded mb-2 block input" />
            </div>
            <div>
                <label for="fechaSalida" class="text-white block"
                    >Fecha de Salida</label
                >
                <input
                    type="date"
                    id="fechaSalida"
                    formControlName="fechaSalida"
                    class="p-2 border rounded mb-2 block input" />
            </div>
            <div>
                <label for="servicio" class="text-white block">Servicio</label>
                <select
                    id="servicio"
                    formControlName="servicio"
                    class="p-2 border rounded mb-2 block input">
                    <option value="">Seleccione...</option>
                    <option *ngFor="let serv of servicio" [value]="serv">
                        {{ serv }}
                    </option>
                </select>
            </div>
        </div>
        <button
            type="submit"
            class="bg-yellow-950 text-white px-4 py-2 rounded">
            Buscar Viajes
        </button>
    </form>

    <!-- Lista de viajes disponibles -->
    <div *ngIf="viajes.length > 0" class="mt-6">
        <h2 class="text-lg text-white font-semibold mb-4">
            Viajes Disponibles
        </h2>
        <ul>
            <li
                *ngFor="let viaje of viajes"
                (click)="seleccionarViaje(viaje)"
                class="cursor-pointer bg-gray-100 hover:bg-gray-200 p-4 mb-2 rounded-lg">
                <div>{{ viaje.origen }} ➔ {{ viaje.destino }}</div>
                <div>Fecha: {{ viaje.fechaSalida }}</div>
                <div>
                    Hora de salida: {{ viaje.horaSalida }} | Hora de llegada:
                    {{ viaje.horaLlegada }}
                </div>
                <div>Precio: ${{ viaje.precio }}</div>
                <div>Servicio: {{ viaje.servicio }}</div>
            </li>
        </ul>
    </div>

    <!-- Selección de asientos -->
    <div *ngIf="viajeSeleccionado" class="mt-6">
        <h2 class="text-white text-lg font-semibold">
            Selecciona tus asientos
        </h2>
        <app-seat-selection
            (asientoSeleccionado)="
                seleccionarAsiento($event)
            "></app-seat-selection>
        <div class="flex flex-wrap mt-4">
            <div
                *ngFor="let asiento of asientosSeleccionados"
                class="flex items-center bg-blue-100 rounded p-2 m-2">
                {{ asiento }}
                <button
                    (click)="deseleccionarAsiento(asiento)"
                    class="ml-2 text-red-500">
                    X
                </button>
            </div>
        </div>
    </div>

    <!-- Resumen de venta y confirmación -->
    <div
        *ngIf="viajeSeleccionado && asientosSeleccionados.length > 0"
        class="mt-6 p-4 bg-gray-100 rounded-lg">
        <h3 class="text-lg font-semibold">Resumen de Venta</h3>
        <div class="flex justify-between my-2">
            <div>Viaje Seleccionado:</div>
            <div>
                {{ viajeSeleccionado.origen }} ➔ {{ viajeSeleccionado.destino }}
            </div>
        </div>
        <div class="flex justify-between my-2">
            <div>Fecha de Salida:</div>
            <div>{{ viajeSeleccionado.fechaSalida }}</div>
        </div>
        <div class="flex justify-between my-2">
            <div>Asientos Seleccionados:</div>
            <div>{{ asientosSeleccionados.length }}</div>
        </div>
        <div class="flex justify-between my-2">
            <div>Total a Pagar:</div>
            <div>${{ totalVenta }}</div>
        </div>
        <button (click)="confirmarVenta()" class="btn-confirm mt-4">
            Confirmar Venta
        </button>
        <button (click)="cancelarVenta()" class="btn-cancel mt-4">
            Cancelar
        </button>
    </div>

    <!-- Mensaje de confirmación -->
    <div *ngIf="ventaConfirmada" class="mt-6 p-4 bg-green-100 rounded-lg">
        <h3 class="text-lg font-semibold text-green-700">¡Venta Confirmada!</h3>
        <p>Detalles de los pasajeros:</p>
        <ul>
            <li *ngFor="let pasajero of pasajeros">
                {{ pasajero.nombre }} - Asiento: {{ pasajero.asiento }}
            </li>
        </ul>
    </div>
</div>
