:host {
    display: block;
    background-image: url('https://res.cloudinary.com/dd6ferfis/image/upload/v1728709354/slide1_kydgds.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0;
}
