<div class="max-w-xl max-h-24 mx-auto my-4">
    <div class="flex pb-3">
        <div class="flex-1"></div>

        <div class="flex-1">
            <div
                class="w-10 h-10 bg-white border-2 border-red-500 mx-auto rounded-full text-lg text-gray-950 flex items-center">
                <span class="text-center w-full"
                    >1<i class="fa fa-check w-full fill-current white"></i
                ></span>
            </div>
        </div>

        <div
            class="w-1/6 align-center items-center align-middle content-center flex">
            <div
                class="w-full bg-grey-light rounded items-center align-middle align-center flex-1">
                <div
                    class="bg-red-500 text-xs leading-none py-1 text-center text-grey-darkest rounded"
                    style="width: 0%"></div>
            </div>
        </div>

        <div class="flex-1">
            <div
                class="w-10 h-10 bg-red-500 mx-auto rounded-full text-lg text-white flex items-center">
                <span class="text-center w-full"
                    >2<i class="fa fa-check w-full fill-current white"></i
                ></span>
            </div>
        </div>

        <div
            class="w-1/6 align-center items-center align-middle content-center flex">
            <div
                class="w-full bg-grey-light rounded items-center align-middle align-center flex-1">
                <div
                    class="bg-red-500 text-xs leading-none py-1 text-center text-grey-darkest rounded"
                    style="width: 30%"></div>
            </div>
        </div>

        <div class="flex-1">
            <div
                class="w-10 h-10 bg-white border-2 border-red-500 mx-auto rounded-full text-lg text-gray-950 flex items-center">
                <span class="text-grey-darker text-center w-full">3</span>
            </div>
        </div>

        <div
            class="w-1/6 align-center items-center align-middle content-center flex">
            <div
                class="w-full bg-grey-light rounded items-center align-middle align-center flex-1">
                <div
                    class="bg-red-500 text-xs leading-none py-1 text-center text-grey-darkest rounded"
                    style="width: 0%"></div>
            </div>
        </div>

        <div class="flex-1">
            <div
                class="w-10 h-10 bg-white border-2 border-red-500 mx-auto rounded-full text-lg text-gray-950 flex items-center">
                <span class="text-grey-darker text-center w-full">4</span>
            </div>
        </div>

        <div class="flex-1"></div>
    </div>

    <div class="flex text-xs content-center text-center">
        <div class="w-1/4">Seleccion de asientos</div>

        <div class="w-1/4">Datos de pasajeros</div>

        <div class="w-1/4">Pago</div>

        <div class="w-1/4">Comprobante</div>
    </div>
</div>
