<div class="block min-w-full my-2">
    <label
        for="{{ idInput }}"
        class="block text-sm font-medium mb-1"
        [class]="colorLabel"
        >{{ label }}</label
    >
    <input
        class="block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        type="{{ type }}"
        id="{{ idInput }}" />

    @if(smallEnabled){
    <small id="{{ idSmall }}" class="block mt-1 text-xs text-gray-500">
        {{ smallText }}
    </small>
    }
</div>
