<div class="card">
    <img
        src="https://res.cloudinary.com/dd6ferfis/image/upload/v1728786760/bus_a70dpp.png"
        alt="Imagen de la tarjeta"
        class="card__image" />
    <div class="card__content">
        <h2 class="card__title">Flota</h2>
        <p class="card__text">
            Contamos con la flota de buses más moderna de Perú, diseñada para
            garantizar un viaje cómodo, seguro y tranquilo. Nuestros vehículos
            están equipados con la última tecnología en sistemas de seguridad,
            asientos ergonómicos de lujo, y conectividad a bordo para que
            disfrutes de cada momento del trayecto.
        </p>
    </div>
    <div class="card__footer">
        <a href="#" class="card__link">Más información</a>
    </div>
</div>
