<div
    class="wrapper__principal bg-cover bg-no-repeat bg-center min-h-screen flex items-center justify-center">
    <div [class]="'container max-w-96 p-10 rounded-lg ' + principalColor">
        <img src="img\imperial\LogoImperial.png" alt="LogoImperial" />
        <h1 class="title text-center text-2xl">Bienvenido</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <app-input
                colorLabelInput="white"
                label="Username"
                class="row flex justify-center"></app-input>
            <app-input
                colorLabelInput="white"
                label="Contrasena"
                class="row flex justify-center"
                type="password"></app-input>
        </form>
        <div *ngIf="errorMessage" class="text-yellow-500 text-center mt-2">
            {{ errorMessage }}
        </div>
        <a class="flex justify-center">¿Eres nuevo? </a>
        <div class="mt-4 d-sm-flex flex justify-center pb-5">
            <button
                mat-raised-button
                color="primary"
                class="w-100"
                routerLink="/register">
                Create una cuenta
            </button>
        </div>
        <app-button
            (click)="onLogin()"
            [colorBgButton]="'secondary'"
            [borderTopRight]="true"
            [borderBottomRight]="true"
            [borderBottomLeft]="true"
            [borderTopLeft]="true"
            [label]="'Iniciar Sesión'">
        </app-button>
        <app-button
            class="card flex mt-4"
            routerLink="/"
            [colorBgButton]="'secondary'"
            [borderTopRight]="true"
            [borderBottomRight]="true"
            [borderBottomLeft]="true"
            [borderTopLeft]="true"
            [label]="'Volver al Inicio'">
        </app-button>
    </div>
</div>
