.wrapper__principal {
    background-image: url('https://res.cloudinary.com/dd6ferfis/image/upload/v1728709354/slide1_kydgds.jpg');
}
img {
    width: auto;
    height: auto;

    margin-bottom: 3rem;
}

mat-spinner {
    font-size: 1px;
}
h1 {
    color: white;
}

a {
    color: white;
}

button {
    color: white;
}
