@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
    button,
    input,
    select {
        /* CSS to Reset */
    }
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
