.input-calendar__container {
    position: relative;
}

.input-calendar__wrapper {
    input {
        width: 100%;
    }
}

.input-calendar__label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 10px;
    color: #333;
    font-size: 10px;
    line-height: 25px;
    pointer-events: none;
}
