<h5
    class="mb-5 text-lg font-bold tracking-tight text-gray-900 dark:text-gray-900">
    Detalles de Facturación
</h5>
<form
    [formGroup]="comprobantesForm"
    class="w-full"
    (ngSubmit)="onSubmit()"
    novalidate>
    <div class="mb-5">
        <label
            for="idCliente"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >IdCliente</label
        >
        <input
            type="text"
            id="idCliente"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="idCliente"
            formControlName="idCliente" />
        @if (comprobantesForm.get('idCliente')?.hasError('required') &&
        comprobantesForm.get('idCliente')?.touched) {
        <div class="form-error text-red-950">IdCliente es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="idEmpleados"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >IdEmpleados</label
        >
        <input
            type="text"
            id="idEmpleados"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="idEmpleados"
            formControlName="idEmpleados" />
        @if (comprobantesForm.get('idEmpleados')?.hasError('required') &&
        comprobantesForm.get('idEmpleados')?.touched) {
        <div class="form-error text-red-950">IdEmpleados es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="numeroComprobante"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >NumeroComprobante</label
        >
        <input
            type="text"
            id="numeroComprobante"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="numeroComprobante"
            formControlName="numeroComprobante" />
        @if (comprobantesForm.get('numeroComprobante')?.hasError('required') &&
        comprobantesForm.get('numeroComprobante')?.touched) {
        <div class="form-error text-red-950">
            NumeroComprobante es requerido
        </div>
        }
    </div>
    <div class="mb-5">
        <label
            for="tipoComprobante"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >TipoComprobante</label
        >
        <input
            type="text"
            id="tipoComprobante"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="tipoComprobante"
            formControlName="tipoComprobante" />
        @if (comprobantesForm.get('tipoComprobante')?.hasError('required') &&
        comprobantesForm.get('tipoComprobante')?.touched) {
        <div class="form-error text-red-950">TipoComprobante es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="fechaEmision"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >fechaEmision</label
        >
        <input
            type="date"
            id="fechaEmision"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder=""
            formControlName="fechaEmision" />
        @if (comprobantesForm.get('fechaEmision')?.hasError('required') &&
        comprobantesForm.get('fechaEmision')?.touched) {
        <div class="form-error text-red-950">FechaEmision es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="montoTotal"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >MontoTotal</label
        >
        <input
            type="text"
            id="montoTotal"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="montoTotal"
            formControlName="montoTotal" />
        @if (comprobantesForm.get('montoTotal')?.hasError('required') &&
        comprobantesForm.get('montoTotal')?.touched) {
        <div class="form-error text-red-950">MontoTotal es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="idPagos"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >IdPagos</label
        >
        <input
            type="text"
            id="idPagos"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="idPagos"
            formControlName="idPagos" />
        @if (comprobantesForm.get('idPagos')?.hasError('required') &&
        comprobantesForm.get('idPagos')?.touched) {
        <div class="form-error text-red-950">IdPagos es requerido</div>
        }
    </div>
    <div class="mb-5">
        <label
            for="estado"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900"
            >Estado</label
        >
        <input
            type="checkbox"
            id="estado"
            class="form-control border-2 p-2 border-gray-900 rounded-lg"
            placeholder="Marcar el cuadro si esta incidencia esta activa"
            formControlName="estado" />
        @if (comprobantesForm.get('estado')?.hasError('required') &&
        comprobantesForm.get('estado')?.touched) {
        <div class="form-error text-red-950">Estado es requerido</div>
        }
    </div>
    <button
        type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">
        Ejecutar
    </button>
    <button
        type="button"
        (click)="onClose()"
        class="text-white ms-2 bg-gray-700 hover:bg-gray-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">
        Cancelar
    </button>
</form>
