.principal__body-credit-card {
    height: 10px;
    grid-column: 8;
    gap: 40px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: auto;
    padding: 2.5em 0px;
}