<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div
        class="bg-gray-800 absolute top-0 left-0 bg-gradient-to-b from-gray-900 via-gray-900 to-gray-800 bottom-0 leading-5 h-full w-full overflow-hidden"></div>
    <div
        class="relative min-h-screen sm:flex sm:flex-row justify-center bg-transparent rounded-3xl shadow-xl">
        <div
            class="flex-col flex self-center lg:px-14 sm:max-w-4xl xl:max-w-md z-10">
            <div class="self-start hidden lg:flex flex-col text-white">
                <h1 class="my-3 font-semibold text-5xl">Bienvenido</h1>
                <p class="pr-4 text-base text-justify">
                    Estamos encantados de tenerte a bordo. Desde este panel,
                    tendrás acceso a todas las herramientas y recursos
                    necesarios para gestionar eficientemente las operaciones del
                    sistema. Aquí podrás supervisar el rendimiento, administrar
                    usuarios, gestionar contenido, revisar estadísticas y tomar
                    decisiones clave para mejorar la experiencia de todos los
                    usuarios. Si necesitas ayuda en cualquier momento, no dudes
                    en consultar nuestra documentación o contactar con el
                    soporte técnico. ¡Gracias por tu dedicación y liderazgo!
                </p>
            </div>
        </div>
        <div
            class="flex-col flex self-center lg:px-14 sm:max-w-4xl xl:max-w-md z-10">
            <div class="p-12 bg-yellow-950 mx-auto rounded-3xl w-96">
                <div class="mb-7">
                    <img
                        src="https://res.cloudinary.com/dd6ferfis/image/upload/v1728702908/LogoImperial_rtgf6p.png"
                        alt="Logo" />
                    <h3 class="font-semibold text-2xl text-white">
                        Registrase
                    </h3>
                    <p class="text-white">
                        Already have an account?
                        <a
                            routerLink="/dashlogin"
                            class="text-sm text-red-950 hover:text-red-950"
                            >Inicia Sessión</a
                        >
                    </p>
                </div>
                <div class="space-y-6">
                    <div class="">
                        <input
                            formControlName="nombre"
                            class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-red-400"
                            type="text"
                            placeholder="Nombre" />
                        <div
                            *ngIf="
                                registerForm.get('nombre')?.invalid &&
                                registerForm.get('nombre')?.touched
                            ">
                            <small class="text-red-500"
                                >El nombre es obligatorio</small
                            >
                        </div>
                    </div>

                    <div class="">
                        <input
                            formControlName="apellido"
                            class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-red-400"
                            type="text"
                            placeholder="Apellido" />
                        <div
                            *ngIf="
                                registerForm.get('apellido')?.invalid &&
                                registerForm.get('apellido')?.touched
                            ">
                            <small class="text-red-500"
                                >El apellido es obligatorio</small
                            >
                        </div>
                    </div>

                    <div class="">
                        <input
                            formControlName="username"
                            class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-red-400"
                            type="text"
                            placeholder="Username" />
                        <div
                            *ngIf="
                                registerForm.get('username')?.invalid &&
                                registerForm.get('username')?.touched
                            ">
                            <small class="text-red-500"
                                >El username es obligatorio</small
                            >
                        </div>
                    </div>

                    <div class="">
                        <input
                            formControlName="correo"
                            class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-red-400"
                            type="email"
                            placeholder="Correo" />
                        <div
                            *ngIf="
                                registerForm.get('correo')?.invalid &&
                                registerForm.get('correo')?.touched
                            ">
                            <small class="text-red-500"
                                >El correo debe ser válido</small
                            >
                        </div>
                    </div>

                    <div class="">
                        <input
                            formControlName="contraseña"
                            type="password"
                            class="w-full text-sm px-4 py-3 bg-gray-200 focus:bg-gray-100 border border-gray-200 rounded-lg focus:outline-none focus:border-red-400"
                            placeholder="Contraseña" />
                        <div
                            *ngIf="
                                registerForm.get('contraseña')?.invalid &&
                                registerForm.get('contraseña')?.touched
                            ">
                            <small class="text-red-500"
                                >La contraseña debe tener al menos 6
                                caracteres</small
                            >
                        </div>
                    </div>

                    <div class="mt-4">
                        <button
                            [disabled]="registerForm.invalid"
                            type="submit"
                            class="w-full bg-red-950 hover:bg-red-800 text-gray-100 p-3 rounded-lg">
                            Registrar
                        </button>
                    </div>

                    <div class="mt-7 text-center text-white text-xs">
                        <span>
                            Copyright © 2024 Turismo Imperial.Todos los derechos
                            reservados</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
