<header class="header__container">
    <div class="header__container-logo">
        <img
            src="https://res.cloudinary.com/dd6ferfis/image/upload/v1728702908/LogoImperial_rtgf6p.png"
            alt="LogoImperial"
            (click)="goToHome()" />
    </div>
    <div class="header__container-options">
        <ul>
            @for(option of Options; track $index){ @if(option.type ===
            'button'){
            <li
                (click)="
                    option.action ? option.action() : onRoute(option.route)
                ">
                {{ option.name }}
            </li>
            }@else if (option.type === 'dropdown') {
            <p-dropdown
                [options]="option.options"
                placeholder="Español"
                optionLabel="name"
                [showClear]="false"></p-dropdown>
            } }
        </ul>
    </div>
</header>
