<header class="header__container">
    <div class="header__container-logo">Turismo Imperial SAC</div>
    <div class="header__container-options">
        <ul>
            @for(option of Options; track $index){ @if(option.type ===
            'button'){
            <li (click)="onRoute(option.route)">{{ option.name }}</li>
            }@else if (option.type === 'dropdown') {
            <p-dropdown
                [options]="option.options"
                placeholder="Español"
                optionLabel="name"
                [showClear]="false"></p-dropdown>
            } }
        </ul>
    </div>
</header>
